**Ejemplo**

In [1]:
print("!Hola mundo!")

!Hola mundo!

**Ejercicio 1**

Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [2]:
m="1801925"
n= "Arleth Alanis Aguirre"
print(m,n)

1801925 Arleth Alanis Aguirre

**Ejercicio 2**

Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

Utilizando el loop de while

In [13]:
print("Hola, por favor realiza lo que se pide a continuación:")
a = float(input("Introduce número 'a': "))
b = float(input("Introduce número 'b': "))
c = 1
while c!=6:
    c = int(input("\n1. Suma\n2.Resta\n3.Multiplicación\n4.División\n5.Exponencial\n6.Salir\nElige la operación que quieres realizar 'c':"))
    if c == 1 :
        print(a+b)
    if c == 2 :
        print (a-b)
    if c == 3 :
        print (a*b)
    if c == 4 :
        print (a/b)
    if c == 5 :
        print (a**b)

Hola, por favor realiza lo que se pide a continuación:
Introduce número 'a': 2
Introduce número 'b': 3

1. Suma
2.Resta
3.Multiplicación
4.División
5.Exponencial
6.Salir
Elige la operación que quieres realizar 'c':2
-1

1. Suma
2.Resta
3.Multiplicación
4.División
5.Exponencial
6.Salir
Elige la operación que quieres realizar 'c':2
-1

1. Suma
2.Resta
3.Multiplicación
4.División
5.Exponencial
6.Salir
Elige la operación que quieres realizar 'c':2
-1

1. Suma
2.Resta
3.Multiplicación
4.División
5.Exponencial
6.Salir
Elige la operación que quieres realizar 'c':5
8

1. Suma
2.Resta
3.Multiplicación
4.División
5.Exponencial
6.Salir
Elige la operación que quieres realizar 'c':1
5

1. Suma
2.Resta
3.Multiplicación
4.División
5.Exponencial
6.Salir
Elige la operación que quieres realizar 'c':6

**Ejercicio 3**

Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [14]:
s=0
lista = []
for i in range(1,11):
    lista.append((i*3))
    s= s + (lista[i-1])
    print(lista[i-1])
    
print ("La suma de la lista: " ,s)

3
6
9
12
15
18
21
24
27
30
La suma de la lista:  165

**Ejercicio 4**

Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.

In [21]:
n= int(input("Dame un número: 'n': "))
if n%2==0:
    print ("Es par")
else:
    print ("Es impar")
 
c=0
for i in range(1, n+1):
    if n%i==0:
        c=c+1
if c==2:
    print ("Es primo")
else:
    print ("No es primo")

Dame un número: 'n': 2
Es par
Es primo

**Ejercicio 5**

Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [22]:
#https://entrenamiento-python-basico.readthedocs.io/es/latest/leccion5/funciones.html
def s(a,b): 
    return a+b
def r (a,b):
    return a-b
def m(a,b):
    return a*b
def d(a,b):
    return a/b
def e(a,b):
    return a**b

print("Hola, por favor realiza lo que se pide a continuación:")
a = float(input("Introduce número 'a': "))
b = float(input("Introduce número 'b': "))
c = 1
while c!=6:
    c = int(input("\n1. Suma\n2.Resta\n3.Multiplicación\n4.División\n5.Exponencial\n6.Salir\nElige la operación que quieres realizar 'c':"))
    if c == 1 :
        print (s(a,b))
    if c == 2 :
        print (r(a,b))
    if c == 3 :
        print (m(a,b))
    if c == 4 :
        print (d(a,b))
    if c == 5 :
        print (e(a,b))

Hola, por favor realiza lo que se pide a continuación:
Introduce número 'a': 2
Introduce número 'b': 3

1. Suma
2.Resta
3.Multiplicación
4.División
5.Exponencial
6.Salir
Elige la operación que quieres realizar 'c':1
5

1. Suma
2.Resta
3.Multiplicación
4.División
5.Exponencial
6.Salir
Elige la operación que quieres realizar 'c':2
-1

1. Suma
2.Resta
3.Multiplicación
4.División
5.Exponencial
6.Salir
Elige la operación que quieres realizar 'c':3
6

1. Suma
2.Resta
3.Multiplicación
4.División
5.Exponencial
6.Salir
Elige la operación que quieres realizar 'c':4
0.6666666666666666

1. Suma
2.Resta
3.Multiplicación
4.División
5.Exponencial
6.Salir
Elige la operación que quieres realizar 'c':5
8

1. Suma
2.Resta
3.Multiplicación
4.División
5.Exponencial
6.Salir
Elige la operación que quieres realizar 'c':6


**Ejercicio 6 Tuplas**

Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

Añadir 3 valores de string a la tupla.

Verificar si una variable existe dentro de la tupla.

In [23]:
flotante = 7.7
entero = 6
boleana = True
compleja = 3j+2

print(type(flotante))
print(type(entero))
print(type(boleana))
print(type(compleja))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>

In [24]:
#https://plataformeros.wordpress.com/2018/10/10/los-comandos-mas-basicos-de-python/
tupla=(7,14,21,28,35)
print (tupla[0],tupla[len(tupla)-1])

7 35

In [25]:
tupla=(7,14,21,28,35)
tupla=tupla+("hola", "soy", "Arleth")
print(tupla)

(7, 14, 21, 28, 35, 'hola', 'soy', 'Arleth')

In [27]:
14 in tupla

True

**Ejercicio 7 Listas**

Crear una lista con 40 elementos aleatorios enteros.

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [29]:
import random as aleatorio
lista2=[]
for i in range(1, 41):
        lista2.append(aleatorio.randint(1,100))
print (lista2)

[66, 93, 69, 56, 21, 78, 16, 51, 23, 91, 1, 18, 99, 19, 21, 90, 35, 28, 22, 50, 47, 68, 3, 53, 29, 91, 88, 51, 64, 91, 75, 67, 91, 21, 58, 71, 33, 85, 53, 52]

In [36]:
def partes(lista2):
    par=[]
    impar=[]
    for i in range(len(lista2)):
        if lista2[i]%2==0:
            par.append(lista2[i])
        else:
            impar.append(lista2[i])
    return par, impar
par, impar=partes(lista2)
print("Lista par: ", par)
print("Lista impar: ", impar)

Lista par:  [66, 56, 78, 16, 18, 90, 28, 22, 50, 68, 88, 64, 58, 52]
Lista impar:  [93, 69, 21, 51, 23, 91, 1, 99, 19, 21, 35, 47, 3, 53, 29, 91, 51, 91, 75, 67, 91, 21, 71, 33, 85, 53]

In [37]:
long_par=len(par)
long_impar=len(impar)
print("Longitud:")
print("Par=", long_par)
print("Impar=",long_impar)

Longitud:
Par= 14
Impar= 26

In [40]:
#https://likegeeks.com/es/funciones-de-listas-de-python/
par.sort(reverse=True)
impar.sort()
print("Par=", par)
print("Impar=",impar)

Pares= [90, 88, 78, 68, 66, 64, 58, 56, 52, 50, 28, 22, 18, 16]
Impares= [1, 3, 19, 21, 21, 21, 23, 29, 33, 35, 47, 51, 51, 53, 53, 67, 69, 71, 75, 85, 91, 91, 91, 91, 93, 99]

In [2]:
#https://likegeeks.com/es/funciones-de-listas-de-python/
listareves = [1, 2, 3, 4, 5]
listareves.reverse()
print(listareves)

[5, 4, 3, 2, 1]

In [10]:
#https://likegeeks.com/es/funciones-de-listas-de-python/
listadelete= ['hola', 'soy', 'nombre', 'Arleth']
removed = listadelete.pop(2)
print(listadelete)
print(removed)

['hola', 'soy', 'Arleth']
nombre

In [9]:
#https://likegeeks.com/es/funciones-de-listas-de-python/
concat = ['Hola', 'me', 'llamo', 'Arleth']
delimiter = ' '
output = delimiter.join(concat)
print(output)

Hola me llamo Arleth

In [12]:
orden = ['i', 'u', 'e', 'o', 'a']
orden2 = [3, 5, 2, 4, 1]
orden.sort()
orden2.sort()
print(orden)

['a', 'e', 'i', 'o', 'u']

**Ejercicio 8 Diccionarios**

Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

Usando el diccionario y un loop, imprimir solo los nombres.

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [42]:
diccionario= {"Alma":23, "Valeria":20, "Andrea":20, "Ayde":19, "Iliana":20, "Marifer":18}
diccionario

{'Alma': 23,
 'Valeria': 20,
 'Andrea': 20,
 'Ayde': 19,
 'Iliana': 20,
 'Marifer': 18}

In [43]:
edad=[i for i in diccionario.values()]
edad.sort()
print(edad)

[18, 19, 20, 20, 20, 23]

In [44]:
for i in diccionario:
    print(i)

Alma
Valeria
Andrea
Ayde
Iliana
Marifer

In [45]:
diccionario["Bere"]=20
diccionario["Gemma"]=21
diccionario

{'Alma': 23,
 'Valeria': 20,
 'Andrea': 20,
 'Ayde': 19,
 'Iliana': 20,
 'Marifer': 18,
 'Bere': 20,
 'Gemma': 21}

**Ejercicio 9 Sets**

Crea un set con 100 numeros aleatorios enteros del 1 al 25.

Comprueba la longitud de tu set.

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [78]:
set1=[]
for i in range(1, 101):
        set1.append(aleatorio.randint(1,25))
print (set1)

[17, 10, 11, 18, 1, 19, 20, 15, 11, 16, 10, 7, 8, 5, 15, 24, 9, 21, 6, 16, 11, 13, 7, 17, 17, 15, 12, 9, 20, 5, 5, 14, 18, 22, 6, 8, 16, 25, 9, 23, 22, 1, 21, 4, 10, 14, 24, 3, 9, 2, 2, 20, 8, 20, 17, 22, 17, 10, 22, 20, 25, 24, 18, 18, 17, 19, 2, 11, 19, 17, 14, 8, 15, 5, 11, 17, 8, 2, 22, 1, 25, 18, 22, 6, 12, 16, 15, 21, 1, 20, 24, 1, 20, 16, 17, 14, 17, 8, 23, 3]

In [79]:
lon_set=len(set1)
lon_set

100

In [91]:
listaset1=[]
for i in range (1,6):
    listaset1.append(aleatorio.randint(1,10))
print(listaset1)

for i in range(5):
    if listaset1[i] in set1:
         print(listaset1[i],"si esta en el set inicial")
    else:
        print(listaset1[i],"no esta en el set inicial")

[6, 10, 6, 9, 3]
6 si esta en el set inicial
10 si esta en el set inicial
6 si esta en el set inicial
9 si esta en el set inicial
3 si esta en el set inicial